/* ul */
.Students {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* li */
.student {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
  border-bottom: solid #ddd 1px;
}

/* pic */
.student-pic {
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  width: 10rem;
  height: 10rem;
  border: solid #ddd 1px;
  border-radius: 50%;
}

.student-pic > img {
  flex: 1 0 100%;
}

/* text */
.student-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.student-info > h2 {
  line-height: 4.5rem;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
}

.student-info > p {
  position: relative;
  left: 2rem;
  line-height: 1.5rem;
}

/* grades */
.grades {
  position: relative;
  top: 1rem;
  left: 2rem;
  margin-bottom: 1rem;
}

.grade {
  display: flex;
  gap: 1rem;
}

/* grades dynamic visibility */
.visible {
  display: block;
}

.hidden {
  display: none;
}

/* expand button */
.Expand {
  align-self: flex-start;
  font-family: inherit;
  font-size: 6rem;
  font-weight: 400;
  color: #bbb;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* inputs */
.Filter, .Tag {
  padding: 0.5rem;
  font-family: inherit;
  border: none;
  outline: none;
}

.Filter {
  width: 100%;
  font-size: 1.5rem;
  border-bottom: solid #ddd 1px;
}

.Tag {
  position: relative;
  top: 1rem;
  left: 2rem;
  width: fit-content;
  font-size: 1rem;
  border-bottom: solid #ddd 2px;
}

.Tag:focus {
  border-bottom: solid #000 2px;
}

/* tags */

.tags-ul {
  position: relative;
  left: 1.2rem;
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
}

.tag-li {
  width: fit-content;
  padding: 1rem;
  background-color: #ccc;
  border-radius: 0.2rem;
}